<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <h2>Event</h2>
            <div class="row">
            <div class="col-md-4"></div>
            <div class="card col-md-4" style="width: 70%; margin-bottom: 5%;">
                <div id="myCarousel" class="carousel slide" data-rbs-ide="carousel">
                    
                    <!-- Slides -->
                    <div class="carousel-inner">
                        <% images.forEach(function(image, index) { %>
                        <div class="carousel-item <% if (index === 0) { %>active<% } %>">
                            <img src="/resurse/images/events/<%- image %>" alt="[image <%- image %>]" class="d-block w-100">
                        </div>
                        <% }) %>
                    </div>
                    
                    <!-- Controls -->
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="card-body">
                    <h3><span class="denumire"><%- locals.event.denumire%></span></h3>
                    <div class="card-body">
                        <p class="card-text">Description: <span class="descriere"><%- locals.event.descriere %> </span></p>
                        <p class="card-text">Organization price (excl. services): <span class="cost_organizare"><%- locals.event.cost_organizare %> </span></p>
                        <p class="card-text">Total price (incl. organization and services): <span class="cost_total"><%- locals.event.cost_total %> </span></p>
                        <p class="card-text">Included services: <span class="val_servicii">
                            <% if (event.servicii_incluse.includes('f&b')) { %>
                                Food & Beverages
                            <% } if (event.servicii_incluse.includes('music')) { %>
                                Music
                                <% } if (event.servicii_incluse.includes('candy-bar')) { %>
                                    Candy Bar
                                    <% } if (event.servicii_incluse.includes('video')) { %>
                                        Video services
                                        <% } if (event.servicii_incluse.includes('bar')) { %>
                                            Cocktail Bar
                                            <% } if (event.servicii_incluse.includes('photo')) { %>
                                                Photograph
                            <% } %></span></p>
                        <!-- <p class="card-text">Type of menu: <span class="meniu"><%- locals.meniu %> </span></p> -->
                        <p class="card-text">Event size: <span class="marime"><%- locals.event.marime %> </span></p>
                        <p class="card-text">Can you pay with vouchers: <span class="val_vouchere">
                            <% if (event.plata_vouchere) { %>
                            Yes!
                        <% } else { %>
                            No.
                        <% } %>
                        </span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            </div>
        </div>
    </main>
<%- include("../fragmente/footer.ejs") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>