<div id="gallery-grid">
    <% let count = 0;
        for(let img of obGlobal.obImages.images) { 
            if(count == 10) break;
            %>
        <figure class="grid-item">
            <picture>
                <source srcset="<%- img.image_path_medium %>" media="(max-width: 1000px)" />
                <source srcset="<%- img.image_path_small %>" media="(max-width: 700px)" />
                <img src="<%- img.image_path %>" width = "100%" alt="logo">
                <p class="author"><%- img.author %></p>
            </picture>
            <figcaption><%- img.title %><p class="author"><%- img.author %></p></figcaption>
        </figure>
        <% count++; } %>
</div>
